<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "Flatlay.JPG" %>');">
  <div class="banner-content">
    <p>Are You A Dapper Dan?</p>
    <%= form_tag(items_path, method: :get) do %>
      <%= text_field_tag :search, params[:search], class: 'banner-searchbar', placeholder: 'Search' %>
      <%= submit_tag 'Search', name: nil, class: "btn-search" %>
    <% end %>
  </div>
</div>
<!-- Cards -->
<!-- Tie Cards -->
<div class="container home-cards">
  <div class="category-title">
    <h2>TIES</h2>
    <%= link_to "See All", items_path %>
  </div>
  <div class="row">
    <% @ties.each do |tie| %>
    <div class="col col-sm-4 ">
      <%= link_to item_path(tie), class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= tie.photo? ? (cl_image_path tie.photo.path) : (image_path 'Flatlay.JPG') %>');">
      <% end %>
        <div class="card-category"><%= tie.category %></div>
        <div class="card-description">
          <p><%= tie.brand %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- Shades Cards -->
<div class="container home-cards">
  <div class="category-title">
    <h2>SHADES</h2>
    <%= link_to "See All", items_path %>
  </div>
  <div class="row">
    <% @shades.each do |shade| %>
    <div class="col col-sm-4 ">
      <%= link_to item_path(shade), class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= shade.photo? ? (cl_image_path shade.photo.path) : (image_path 'Flatlay.JPG') %>');">
      <% end %>
        <div class="card-category"><%= shade.category %></div>
        <div class="card-description">
          <p><%= shade.brand %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- Belts Cards -->
<div class="container home-cards">
  <div class="category-title">
    <h2>BELTS</h2>
    <%= link_to "See All", items_path %>
  </div>
  <div class="row">
    <% @belts.each do |belt| %>
    <div class="col col-sm-4 ">
      <%= link_to item_path(belt), class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= belt.photo? ? (cl_image_path belt.photo.path) : (image_path 'Flatlay.JPG') %>');">
      <% end %>
        <div class="card-category"><%= belt.category %></div>
        <div class="card-description">
          <p><%= belt.brand %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class = "add-item">
  <%= link_to "New Item", new_item_path, class: "btn-add" %>
</div>





