<section id="content1">
  <!-- ADD ITEM button -->
  <div class="dashboard-button">
    <%= link_to "Add item", new_item_path, class: "btn btn-primary" %>
  </div>
  <!-- Cards -->
  <div class="container cards">
    <% if @my_items.count > 0 %>
      <div class="category-title">
        <h2><%= "Your Dapper Dan Items:" %></h2>
      </div>
    <% end %>
    <div class="row">
      <% @my_items.each do |item| %>
      <div class="col col-xs-12 col-sm-6">
        <div class="dashboard-card">
          <%= link_to item_path(item), class: "card-link" do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= item.photo? ? (cl_image_path item.photo.path) : (image_path 'Flatlay.JPG') %>');">
          <% end %>
            <div class="card-category"><%= item.name %></div>
          </div>
          <div class="card-info no-margin">
            <p><%= item.brand %></p>
            <p>￥<%= item.price %>/day</p>
          </div>
          <div class="edit-icons">
            <%= link_to root_path do %>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            <% end %>
            <%= link_to edit_item_path(item) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end %>
            <%= link_to "/items/#{item.id}", method: :delete,
          data: { confirm: "Are you sure you want to get rid of this item?" } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="your-bookings"></div>
        </div>

        <% if item.next_booked %>
          <div class="your-bookings">
            <div>
              <h3><%= item.next_booked == nil ? "" : "Your item has a booking:" %></h3>
              <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <%= item.next_booked == nil ? "" : item.next_booked.start_date %></p>
              <p><i class="fa fa-calendar-times-o" aria-hidden="true"></i> <%= item.next_booked == nil ? "" : item.next_booked.end_date %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</section>


<!--   ALL ITEM.NEXT_BOOKED (in <p> are meant to display bookings) -->
