<div class="row forms">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>edit item!</h1>
      <%= simple_form_for @item do |i| %>
        <%= i.input :name %>
        <%= i.input :category, collection: ["bags", "jewellery", "fine watches", "belts", "ties", "glasses", "hats", "pocket squares", "cufflinks"] %>
        <%= i.input :description %>
        <%= i.input :condition, collection: ["perfect", "very good", "good", "worn well"] %>
        <%= i.input :brand %>
        <%= i.input :price %>
        <%= i.button :submit %>
      <% end %>
  </div>
</div>
