<%= link_to "home", root_path %>
  <div class="container">
    <div class="row">
      <% @items.each do |i| %>
      <div class="col-xs-4 col-xs-offset-4">
        <h2><%= i.name %></h2>
        <p><%= i.category %></p>
        <p><%= i.description %></p>
        <p><%= i.condition %></p>
        <p><%= i.brand %></p>
        <p><%= i.price %></p>
        <%= link_to "more details", item_path(i) %>
      </div>
      <% end %>
    </div>
</div>
</div>
