<div class="row forms">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>add a new item!</h1>
      <%= simple_form_for @item do |i| %>
        <%= i.input :name %>
        <%= i.input :category, collection: ["bags", "jewellery", "fine watches", "belts", "ties", "shades", "hats", "pocket squares", "cufflinks"] %>
        <%= i.input :description, as: :text, placeholder: "Write about how dapper your item is. The better the description, the more likely it will be booked!" %>
        <%= i.input :condition, as: :radio_buttons, collection: ["perfect", "very good", "good", "worn well"]%>
        <%= i.input :brand %>
        <%= i.input :price %>
        <%= i.input :photo, as: :attachinary %>
        <%= i.button :submit, class:"btn-add" %>
      <% end %>
  </div>
</div>


