<div class="container">
  <div class="item">
    <div class="item-info">
      <%= image_tag cl_image_path @item.photo.path %>
      <h1><%= @item.name %></h1>
      <div class="item-icons">
        <p><i class="fa fa-filter" aria-hidden="true"></i> <%= @item.category %></p>
        <p><i class="fa fa-tag" aria-hidden="true"></i> <%= @item.brand %></p>
        <p><i class="fa fa-star" aria-hidden="true"></i> <%= @item.condition %></p>
      </div>
      <h3>Description</h3>
      <p><%= @item.description %></p>
      <div class = "add-item">
        <%= link_to "Go Back", :back, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="booking">
      <div class="price-review">
      <p> ￥<%= @item.price %> per day</p>
      </div>
      <div class="calendars">
        <%= simple_form_for [@item] do |i| %>
          <%= i.input :name %>
          <%= i.input :category %>
          <%= i.button :submit %>
          <% end %>
      </div>
      <div id="map" style="width: 233px; height: 265px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        <% end %>
      <% end %>

    </div>
  </div>
</div>
