<div class="container">
  <div class="item">
    <div class="item-info">
      <h1><%= @item.name %></h1>
      <p>Category: <%= @item.category %></p>
      <p>Description: <%= @item.description %></p>
      <p>Condition: <%= @item.condition %></p>
      <p>Brand: <%= @item.brand %></p>
      <%= link_to "bring me back", items_path %>
    </div>

    <div class="booking">
      <div class="price-review">
      <p> ￥<%= @item.price %> per day</p>
      </div>
      <div class="calendars">
        <%= simple_form_for [@item, @booking] do |i| %>
          <%= i.input :start_date %>
          <%= i.input :end_date %>
          <%= i.button :submit %>
          <% end %>
      </div>
      <div id="map" style="width: 233px; height: 200px;"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        <% end %>
      <% end %>

    </div>
  </div>
</div>
